#enable_html_escaping()
<table border ="2"  align="left" cellpadding="7" cellspacing="7">
	<tr>
		<th align=\"left\">Time spent</th>
		<th align=\"left\">Issue Summary</th>
	</tr>
#foreach ($issue in $issues)
	<tr>
		<td><a href="$issueTimingReport.getIssueWorklogReportURL($projectId, $issue.getId())">$issueTimingReport.getSummaryTime($issue)</a></td>
		<td><a href="$issueTimingReport.getIssuesPathUrl($issue)" target="_blank">$issue.getSummary()</a></td>
	</tr>
#end
</table>
<div style = "float: left; min-height: 50px; min-width: 200px; max-width: 400px; margin-left: 50px; padding: 5px; padding-right: 20px; border: solid 1px black">
	<p align="center" style = "font: bold 150% serif">$issueTimingReport.getIssueSummary($issues, $issueId)</p>	
	#if($worklogs)
		#foreach($worklog in $worklogs)
			<p><font style = "font: bold 120% serif">Date: </font>$issueTimingReport.getWorklogDate($worklog)</p>
			<p><font style = "font: bold 120% serif">Duration: </font>$issueTimingReport.getWorklogDuration($worklog)</p>
			<p><font style = "font: bold 120% serif">Comment: </font>$issueTimingReport.getWorklogComment($worklog)</p>
			<p><font style = "font: bold 120% serif">Author: </font>$issueTimingReport.getWorklogAuthor($worklog)</p>
			<br />
		#end 
	#end
</div>